/ChangeLog
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/intltool-extract.in
/intltool-merge.in
/intltool-update.in
/libtool
/ltmain.sh
/missing
/sigscheme-*.sum
/sigscheme-*.tar.*
/sigscheme.mk
/sigscheme.pc
/test-driver

# /bench/
/bench/Makefile
/bench/Makefile.in

# /doc/
/doc/Makefile
/doc/Makefile.in
/doc/design.html
/doc/global-obj.html
/doc/index.html
/doc/multibyte.html
/doc/release.html
/doc/spec.html
/doc/style.html

# /include/
/include/Makefile
/include/Makefile.in
/include/sigscheme/Makefile
/include/sigscheme/Makefile.in
/include/sigscheme/config-old.h
/include/sigscheme/config.h
/include/sigscheme/encoding-dummy.h
/include/sigscheme/encoding.h
/include/sigscheme/global.h
/include/sigscheme/scmint.h
/include/sigscheme/sigscheme.h
/include/sigscheme/storage-common.h
/include/sigscheme/storage-compact.h
/include/sigscheme/storage-fatty.h

# /lib/
/lib/Makefile
/lib/Makefile.in
/libgcroots.mk

# /m4/
/m4/Makefile
/m4/Makefile.in
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4

# /src/
/src/.deps/
/src/Makefile
/src/Makefile.in
/src/config.h
/src/config.h.in
/src/config.h.in~
/src/functable-legacy-macro.c
/src/functable-r5rs-char.c
/src/functable-r5rs-core.c
/src/functable-r5rs-deep-cadrs.c
/src/functable-r5rs-load.c
/src/functable-r5rs-macro.c
/src/functable-r5rs-number-io.c
/src/functable-r5rs-number.c
/src/functable-r5rs-port.c
/src/functable-r5rs-promise.c
/src/functable-r5rs-qquote.c
/src/functable-r5rs-read.c
/src/functable-r5rs-string-procedure.c
/src/functable-r5rs-string.c
/src/functable-r5rs-syntax.c
/src/functable-r5rs-vector.c
/src/functable-r5rs-write.c
/src/functable-siod.c
/src/functable-srfi1.c
/src/functable-srfi2.c
/src/functable-srfi23.c
/src/functable-srfi28.c
/src/functable-srfi34.c
/src/functable-srfi38.c
/src/functable-srfi43.c
/src/functable-srfi48.c
/src/functable-srfi55.c
/src/functable-srfi6.c
/src/functable-srfi60.c
/src/functable-srfi8.c
/src/functable-srfi9.c
/src/functable-sscm-core.c
/src/functable-sscm-ext.c
/src/sigscheme-combined-trim.h
/src/sigscheme-combined.c
/src/stamp-h1

# /test-c/
/test-c/.deps/
/test-c/Makefile
/test-c/Makefile.in
/test-c/collect.sh
/test-c/test-alignment-coll.c
/test-c/test-array2list-coll.c
/test-c/test-format-coll.c
/test-c/test-gc-coll.c
/test-c/test-gc-protect-coll.c
/test-c/test-gc-protect-stack-coll.c
/test-c/test-global-coll.c
/test-c/test-length-coll.c
/test-c/test-storage-coll.c
/test-c/test-storage-compact-coll.c
/test-c/test-strcasecmp-coll.c
/tools/gnuify-changelog.pl

# /test/
/test/Makefile
/test/Makefile.in
/test/run-singletest.sh

# /tools/
/tools/Makefile
/tools/Makefile.in
/tools/gnuify-changelog.pl
