services:
  arch-linux:
    image: uim/sigscheme-arch-linux
    build:
      context: ci/dockerfiles
      dockerfile: arch-linux.dockerfile
    volumes:
      - .:/source:delegated
  debian-13:
    image: uim/sigscheme-debian-13
    build:
      context: ci/dockerfiles
      dockerfile: debian-13.dockerfile
    volumes:
      - .:/source:delegated
  debian-13-release:
    image: uim/sigscheme-debian-13-release
    build:
      context: ci/dockerfiles
      dockerfile: debian-13-release.dockerfile
    volumes:
      - .:/source:delegated
