name: Linux
on:
  - push
  - pull_request
jobs:
  test:
    name: ${{ matrix.image }}
    strategy:
      fail-fast: false
      matrix:
        image:
          - debian-10
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          sumodules: true
      - name: Install dependencies to generate configure
        run: |
          sudo apt update
          sudo apt install -y -V \
            autoconf \
            libtool
      - name: Generate configure
        run: |
          ./autogen.sh
          cd libgcroots
          ./autogen.sh
      - name: Build Docker image
        run: |
          docker-compose build ${{ matrix.image }}
      - name: Run Docker image
        run: |
          docker-compose run ${{ matrix.image }}
      - uses: actions/upload-artifact@v2
        with:
          name: ${{ matrix.image }}
          path: |
            *.tar.*
            *.sum

      # Release
      - name: Extract tag
        if: |
          startsWith(github.ref, 'refs/tags/') && matrix.image == 'debian-10'
        id: tag
        run: |
          tag=$(echo ${{ github.ref }} | sed -e 's,^refs/tags/,,')
          echo ::set-output name=name::${tag}
      - uses: actions/setup-ruby@v1
        if: |
          startsWith(github.ref, 'refs/tags/') && matrix.image == 'debian-10'
      - name: Extract the news for the current release
        if: |
          startsWith(github.ref, 'refs/tags/') && matrix.image == 'debian-10'
        run: |
          ruby extract-news.rb ${{ steps.tag.outputs.name }} | tee news-current.txt
      - uses: actions/create-release@v1
        if: |
          startsWith(github.ref, 'refs/tags/') && matrix.image == 'debian-10'
        id: create-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ steps.tag.outputs.name }}
          body_path: news-current.txt
      - uses: actions/upload-release-asset@v1
        if: |
          startsWith(github.ref, 'refs/tags/') && matrix.image == 'debian-10'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create-release.outputs.upload_url }}
          asset_path: sigscheme-${{ steps.tag.outputs.name }}.tar.gz
          asset_name: sigscheme-${{ steps.tag.outputs.name }}.tar.gz
          asset_content_type: application/gzip
      - uses: actions/upload-release-asset@v1
        if: |
          startsWith(github.ref, 'refs/tags/') && matrix.image == 'debian-10'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create-release.outputs.upload_url }}
          asset_path: sigscheme-${{ steps.tag.outputs.name }}.tar.bz2
          asset_name: sigscheme-${{ steps.tag.outputs.name }}.tar.bz2
          asset_content_type: application/x-bzip2
      - uses: actions/upload-release-asset@v1
        if: |
          startsWith(github.ref, 'refs/tags/') && matrix.image == 'debian-10'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create-release.outputs.upload_url }}
          asset_path: sigscheme-${{ steps.tag.outputs.name }}.sum
          asset_name: sigscheme-${{ steps.tag.outputs.name }}.sum
          asset_content_type: text/plain
